html {
  border-top: 2px solid #fff;
}

body {
  margin-top: 0;
  background: rgb(245,241,232) url('images/background-gradient.png') repeat-x top center;
  font-family: 'OpenSans', "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif; font-weight: normal; text-shadow: 0px 1px 0px rgba(255,255,255,0.75);
}

.huge, .large, h2, h3, h4 {
  font-weight: normal;
}


h1 {
  text-align: center;
  clear: both;
}

h2 div:first-of-type {
  font-size: xx-large;
}

h2 div:last-of-type {
  font-size: large;
}

#flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.version {
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 151px; /* Branch logos height */
  text-align: center;
  width: 24vw;
  min-width: 160px; /* Branch logo width */
}

#release {
  background-image: url('images/release.png');
}

#esr {
  background-image: url('images/release.png');
}

#esr_next {
  background-image: url('images/release.png');
}

#beta {
  background-image: url('images/beta.png');
}

#developer {
  background-image: url('images/developer.png');
}

#nightly {
  background-image: url('images/nightly.png');
}

#tabzilla {
  margin-right: 3vw;
}

#uplift {
  text-align: center;
}

#uplift a {
  color: inherit;
}

.right-bottom .github-fork-ribbon {
  background-color: #333;
}
